<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <title>HYU Jaunt Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function () {
                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            });
        });</script>
</head>

<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="navbar-brand">
                    <a href="{{ url_for('main.index') }}" class="navbar-item">
                        Home
                    </a>
                    <a href="{{ url_for('main.info') }}" class="navbar-item">
                        Info
                    </a>
                    <a href="{{ url_for('main.resources') }}" class="navbar-item">
                        Resources
                    </a>
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}" class="navbar-item">
                        Login
                    </a>
                    <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                        Sign Up
                    </a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.enlist') }}" class="navbar-item">
                        Enlist
                    </a>
                    <a href="{{ url_for('report.index') }}" class="navbar-item">
                        Report
                    </a>
                    {% endif %}
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                        data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbarBasic" class="navbar-menu">
                    <div class="navbar-start">
                        {% if current_user.is_authenticated %}
                        <!-- <a href="{{ url_for('fcm.index') }}" class="navbar-item">
                            Noti-Test
                        </a> -->
                        <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                            Logout
                        </a>
                        {% endif %}

                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>HYU Database Lab. Project Jaunt</strong> on <a
                    href="https://db.hanyang.ac.kr/doku.php?id=jaunt">DB Lab.</a> with <a
                    href="https://c2s2.hanyang.ac.kr">C2S2</a>.
                The website content
                is licensed <a href="https://creativecommons.org/licenses/by-nc-nd/4.0">CC BY-NC-ND</a>.
            </p>
            <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>
</body>

</html>
