<!-- templates/dashboard-detail.html -->

{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile is-child">
      <h1 class="title">
        답변: {{ name }}
      </h1>
    </div>
    <div class='tile is-child'>
      <h5 class='title is-4'>등록 명단</h4>
    </div>
    <div class='tile is-child box'>
      <table class='table is-striped is-fullwidth'>
        <thead>
          <tr>
            <th>
              위치번호 <br> 시간
            </th>            
            <th>
              질문번호
            </th>
            <th>
              질문
            </th>
            <th>
              답변
            </th>
            <th>
              답변 시각
            </th>
          </tr>
        </thead>
        <tbody>          
          {% if not answers %}
          <tr>
            <td colspan="5" class="has-text-centered">자료 없음</td>
          </tr>
          {% else %}
          {% for answer in answers %}
          <tr>
            <th>
              {{ answer['pid'] }} <br> {{ answer['datetime'] }}
            </th>
            <td>
              {{ answer['qid'] }}
            </td>
            <td>
              {{ answer['qtext'] }}
            </td>
            <td>              
              {% for choice in answer['choices'] %}
                {{ choice['prompt'] }}
                <br />
              {% endfor %}
            </td>
            <td>
              {{ answer['leaving_datetime'] }}
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}