<!-- templates/dashboard.html -->

{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile is-child">
      <h1 class="title">
        유저 답변 현황
      </h1>
    </div>
    <div class='tile is-child'>
      <h5 class='title is-4'>등록 명단</h4>
    </div>
    <div class='tile is-child box'>
      <table class='table is-striped is-fullwidth'>
        <thead>
          <tr>
            <th>
              참여자 상세
            </th>
            <th>
              최근 위치 업데이트
            </th>
          </tr>
        </thead>
        <tbody>
          {% if not devices %}
          <tr>
            <td colspan="2" class="has-text-centered">자료 없음</td>
          </tr>
          {% else %}
          {% for device in devices %}
          <tr>
            <th>
              <a href="{{ url_for('dashboard.detail', uid=device[0]) }}">{{ device[0] }}</a>
            </th>            
            <td>
              {{ device[1] }}
            </td>
          </tr>          
          {% endfor %}
          {% endif %}
        </tbody>
      </table>

    </div>
  </div>
</div>

{% endblock %}