<!-- templates/enlist.html -->

{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile is-child">
      <h1 class="title">
        {{name}}의 모집관리
      </h1>
    </div>
    <div class='tile is-child box'>
      <form method="POST" action="{{ url_for('main.enroll') }}">
        <input type="text" name="vid" value="{{vid}}" style="display: none;" />
        <div class="field">
          <div class="control has-icons-left has-icons-right">
            <input required class="input" type="text" name="name" placeholder="실험참여자 이름" value="">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <!-- <p class="help is-success">This username is available</p> -->
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input required class="input" type="text" name="phone" placeholder="실험참여자 전화번호">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button class="button is-success is-fullwidth" type="submit">
              등록하기
            </button>
          </p>
        </div>
      </form>
    </div>
    <div class='tile is-child'>
      <h5 class='title is-4'>등록 명단</h4>
    </div>
    <div class='tile is-child box'>
      <table class='table is-striped is-fullwidth'>
        <col>
        <colgroup span="2"></colgroup>
        <thead>
          <tr>
            <th>
              참여자
            </th>
            <th colspan="2" scope="colgroup">
              Traccar Info
            </th>
          </tr>
        </thead>
        <tbody>
          {% if not devices %}
          <tr>
            <td colspan="3" class="has-text-centered">자료 없음</td>
          </tr>
          {% else %}
          {% for device in devices %}
          <tr>
            <th rowspan="3" scope="rowgroup">
              {{ device['name'] }} <br />
              {{ device['phone'][-4:] }}
            </th>
            <th scope="row">
              Tc ID
            </th>
            <td>
              {{ device['uniqueId'] }}
            </td>
          </tr>
          <tr>
            <th scope="row">
              최근업데이트
            </th>
            <td scope="row" class="tc-lastupdate-{{ device['lastUpdate'] }}">
              {{ device['lastUpdate'] }}
            </td>
          </tr>
          <tr>
            <th scope="row">
              상태
            </th>
            <td scope="row" class="tc-status-{{ device['status'] }}">
              {{ device['status'] }}
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>

    </div>
    <div class='tile is-child'>
      <h5 class='title is-4'>등록하기 설명</h4>
    </div>
    <div class='tile is-child box'>
      <div class="card">
        <div class="card-content">
          <div class="content has-text-left">
            1. 참여자의 이름과 전화번호를 입력하여 등록하세요. <br />
            2. 표에 등록된 "참여자" 칸의 이름과 전화번호 끝 4자리를 확인하세요. <br />
            3. Traccar 정보의 첫 줄 ID를 참여자 스마트폰의 "장치 식별자"에 입력하세요. <br />
          </div>
        </div>
        <footer class="card-footer">
          <a href="mailto:aninteger@hanyang.ac.kr" class="card-footer-item">버그신고: aninteger@hanyang.ac.kr</a>
          <a href="tel:+82-10-4332-4458" class="card-footer-item">긴급전화</a>
        </footer>
      </div>
    </div>
  </div>
</div>

{% endblock %}
