{% extends "base.html" %}

{% block content %}
<h1 class="title">
  에러 발생! Error!
</h1>
<div class='box'>
  <div class="card">
    <div class="card-content">
      <div class="content has-text-left">
        {{ msg }}
        <br />
        {{ msg_body }}
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">버그신고</a>
      <a href="#" class="card-footer-item">긴급전화</a>
    </footer>
  </div>
</div>
{% endblock %}
