<!-- templates/fcm.html -->

{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile is-child">
      <h1 class="title">
        {{name}}의 알림관리
      </h1>
    </div>
    <div class='tile is-child'>
      <h5 class='title is-4'>등록 명단</h4>
    </div>
    <div class='tile is-child box'>
      <table class='table is-striped is-fullwidth'>
        <thead>
          <tr>
            <th>
              이름
            </th>
            <th>
              TcId
            </th>
            <th>
              Token
            </th>
          </tr>
        </thead>
        <tbody>
          {% for device in devices %}
          <tr>
            <td>
              {{ device["name"] }}
            </td>
            <td>
              {{ device["uniqueId"] }}
            </td>
            <td>
              {{ device["token"][:10] }}...
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="notification is-success">
        {{ messages[0] }}
      </div>
      {% endif %}
      {% endwith %}
      <form method="GET" action="{{ url_for('fcm.fire') }}">
        <div class="field is-grouped">
          <div class="control is-expanded">
            <input class="input" type="text" name="uniqueId" placeholder="Tc Id" />
          </div>
          <p class="control">
            <button class="button is-success" type="submit">
              FIRE!
            </button>
          </p>
        </div>
      </form>
    </div>
    <div class='tile is-child'>
      <h5 class='title is-4'>등록하기 설명</h4>
    </div>
    <div class='tile is-child box'>
      <div class="card">
        <div class="card-content">
          <div class="content has-text-left">
            1. 참여자의 이름과 전화번호를 입력하여 등록하세요. <br />
            2. 표에 등록된 "참여자" 칸의 이름과 전화번호 끝 5자리를 확인하세요. <br />
            3. Traccar 정보의 첫 줄 ID를 참여자 스마트폰의 "장치 식별자"에 입력하세요. <br />
          </div>
        </div>
        <footer class="card-footer">
          <a href="mailto:aninteger@hanyang.ac.kr" class="card-footer-item">버그신고: aninteger@hanyang.ac.kr</a>
          <a href="tel:+82-10-4332-4458" class="card-footer-item">긴급전화</a>
        </footer>
      </div>
    </div>
  </div>
</div>

{% endblock %}