<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  HYU Jaunt Register
</h1>
<h2 class="subtitle">
  Jaunt 프로젝트 자원봉사자용 실험참여자 등록 페이지
</h2>
<br />
{% endblock %}