<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">실험 참여자 모집</h3>
    <h3 class="title">Volunteer Recruit</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('main.recruit') }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Your Name" autofocus required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="tel" name="sid" placeholder="Your Student Id" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="tel" name="phone" placeholder="Your Phone Number" required>
                </div>
            </div>
            <div class="field">
                <div class="control has-text-centered">
                    <label class="radio">
                        <input type="radio" name="sex" value='M' required>
                        남자
                    </label>
                    <label class="radio">
                        <input type="radio" name="sex" value='F'>
                        여자
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control has-text-centered">
                    "신청하기" 버튼을 누르면 <a href="{{ url_for('main.info') }}">자원봉사자 약관</a>에 동의하게 됩니다.
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">신청하기</button>
        </form>
    </div>
</div>
{% endblock %}