{% extends "base.html" %}

{% block content %}
<h1 class="title">
  지원 성공
</h1>
<div class='box'>
  <div class="card">
    <div class="card-content">
      <div class="content has-text-left">
        {{ name }} 님! 신청해주셔서 감사합니다.
        <br />
        자원봉사자로 선정되시면 수 일 내로 저희 연구원이 연락할 것입니다.
      </div>
    </div>
    <footer class="card-footer">
      <a href="{{ url_for('main.resources') }}" class="card-footer-item">실험 안내 읽어보기</a>      
      <a href="{{ url_for('main.index') }}" class="card-footer-item">돌아가기</a>
    </footer>
  </div>
</div>
{% endblock %}
