<!-- templates/report.html -->

{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
    <div class="tile is-vertical">
        <div class="tile is-child">
            <h1 class="title">설문조사 - ID: {{deviceid}}</h1>
            <h3>위치: {{ stop.lat }}, {{ stop.lng }}</h3>
            <h3>시간: {{stop.datetime}} ~ {{stop.leaving_datetime}}</h3>
            <div>
                설문조사 칸 - mongodb parse
            </div>
            <form>

            </form>
        </div>
    </div>
</div>

{% endblock %}
