{% extends "base.html" %}

{% block content %}

<h1 class="title">
    HYU Jaunt Register 안내 사항
</h1>
<div class="tile is-ancestor">
    <div class="tile is-vertical is-12">
        <div class="tile is-child box">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-icon">Traccar (Hanyang DBLab Customed) 다운로드</p>
                </header>
                <div class="card-content">
                    <div class="content has-text-left">
                        <a
                            href="https://github.com/dreamwayjgs/traccar-client-android/raw/firebase/app/google/release/app-google-release.apk">안드
                            4.4이상 APK 파일</a>
                        <br />
                        1. 위 링크의 apk를 다운로드 받습니다 <br />
                        2. apk 설치 시 "알 수 없는 출처 설치" 예외하기 (안드로이드 버전 마다 예외처리 방법이 다름)<br />
                        3. Play protect 설치 예외가 필요할 수 있음. <br />
                        4. 참여자 모집 관리 창의 TcId를 "장치 식별자"에 입력하세요
                    </div>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-icon">자신의 위치 리포트 하기</p>
                </header>
                <div class="card-content">
                    <div class="content has-text-left">
                        Traccar 앱을 열면 오른쪽 위에 "REPORT" 버튼이 있습니다.<br />
                        자신이 충분한 시간 머무른 곳(약 30분)의 위치가 나옵니다.<br />
                        그 위치와 관련된 정보를 공유해주시면 연구에 큰 도움이 됩니다!
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="mailto:aninteger@hanyang.ac.kr" class="card-footer-item">문의, 버그신고:
                        aninteger@hanyang.ac.kr</a>
                </footer>
            </div>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-icon">위치 연구 포스터</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <img src="{{ url_for('static', filename='poster.png')}}" alt="홍보 포스터">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
