<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile is-child box">
      {% include "info/tabs.html" %}
    </div>
    <div class="tile is-child">
      <h1 class="title">
        사이트 설명 및 이용자 약관
      </h1>
    </div>
    <div class="tile is-child box has-text-left">
      <h4 class="subtitle is-4 has-text-black">
        1. 사이트의 목적
      </h4>
      <div class="content">
        <p class="is-size-6">본 사이트는 한양대학교 <a href="c2s2.hanyang.ac.kr">컴퓨테이셔널 사회과학 연구센터 (이하 '센터')</a>에서
          운영하며, <a href="/info">장애인의 이동권 연구</a>의 실험 지원 서비스(이하 '서비스')을 목적으로 합니다.</p>
      </div>

      <h4 class="subtitle is-4 has-text-black">
        2. 약관의 효력 및 변경
      </h4>
      <div class="content">
        <ol class="is-lower-roman is-size-7">
          <li>이 약관은 서비스 화면에 게시하거나 기타의 방법으로 공지함으로써 이용자에게 공시하고, 이에 동의한 이용자가 서비스에 가입함으로써 효력이 발생합니다.</li>
          <li>센터는 필요하다고 인정되는 경우 이 약관의 내용을 변경할 수 있으며, 변경된 약관은 서비스 화면에 공지함으로써 이용자가 직접 확인할 수 있도록 할 것입니다.</li>
          <li>이용자는 변경된 약관에 동의하지 않으실 경우 서비스 이용을 중단하고 본인의 회원등록을 취소할 수 있으며, 계속 사용하시는 경우에는 약관 변경에 동의한 것으로 간주되며 변경된 약관은 전항과
            같은 방법으로 효력이 발생합니다.</li>
          <li>이용자가 이 약관의 내용에 동의하는 경우, 센터는 서비스 제공행위 및 이용자의 서비스 이용행위에는 이 약관이 우선적으로 적용될 것입니다. 이 약관에 명시되지 않은 사항에 대해서는
            전기통신기본법, 전기통신사업법, 정보통신망이용촉진 및 정보보호등에관한법률, 방송통신심의위원회 심의규정, 정보통신 윤리강령, 프로그램 보호법 등 기타 대한민국의 관련법령과 상관습에 의합니다.
          </li>
        </ol>
      </div>
      <h4 class="subtitle is-4 has-text-black">
        3. 용어의 정의
      </h4>
      <div class="content">
        <p>본 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
        <ol class="is-lower-roman is-size-7">
          <li>실험 참여자: 서비스에 접속하여 자신의 현재 위치를 전송하는 사람들.</li>
          <li>자원 봉사자: 서비스에 접속하여 실험 참여자의 기기를 서비스에 등록하는 것을 돕는 사람들.</li>
          <li>연구자: 서비스에 접속하여 실험 참여자와 자원 봉사자의 서비스 등록 상태를 확인하는 센터에서 접근 권한을 부여한 센터 소속 사람들.</li>
          <li>이용자: 상기한 사람들을 총칭하여 일컬음.</li>
        </ol>
      </div>
      <h4 class="subtitle is-4 has-text-black">
        4. 서비스 이용 약관
      </h4>
      <div class="content">
        <p class="is-6">(1) 이용계약의 성립</p>
        <p>이용계약은 이용자의 약관내용에 대한 동의와 이용자의 이용신청에 대한 서울시의 승낙으로 성립합니다.</p>
      </div>
      <div class="content">
        <p class="is-6">(2) 이용신청</p>
        <p>자원 봉사자는 서비스의 회원 신청 화면에서 신청한 사람들 중, 일부를 선정하여 고지합니다.</p>
        <p>실험 참여자는 사전 전화 연락를 통해 고지합니다.</p>
      </div>
      <div class="content">
        <p class="is-6">(3) 서비스 이용</p>
        <p>자원 봉사자와 실험 참여자는 미리 고지된 기간 동안 서비스를 이용할 수 있으며, 기간이 지난 이후 이용계약은 종료됩니다.</p>
        <p>자원 봉사자와 실험 참여자는 원하는 경우 이용계약 종료를 요청할 수 있으며, 이를 센터가 수락하면 이용계약은 종료됩니다.</p>
      </div>
      <div class="content">
        <p class="is-6">(4) 이용계약의 종료</p>
        <p>자원 봉사자 및 실험 참여자가 서비스를 위법적으로 사용하거나 센터에 악영향을 줄 수 있는 행위를 서비스를 통해 시도할 경우 센터는 일방적으로 이용계약을 해지할 수 있습니다.</p>
        <p>이용자는 사전에 고지받지 못한 용도로 본 서비스를 이용할 경우, 이용계약이 일방적으로 해지될 수 있습니다.</p>
        <p>이용계약이 해지된 이용자는 서비스에 접속할 수 없으며, 고지된 보상을 받지 못할 수 있습니다.</p>
      </div>
      <h5 class="subtitle is-4 has-text-black">
        서비스 관리자 정보 </h5>
      <div class="content">
        <p>정근성, 한양대학교 <a href="db.hanyang.ac.kr">데이터베이스 연구실</a>, <a href="tel:02-2220-4458">02-2220-4458</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}