<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile is-child box">
      {% include "info/tabs.html" %}
    </div>
    <div class="tile is-child">
      <h1 class="title">
        개인정보처리방침
      </h1>
    </div>
    <div class="tile is-child box has-text-left">
      <h4 class="subtitle is-4 has-text-black">
        1. 개인정보 처리 목적
      </h4>
      <div class="content is-size-6">
        <p>컴퓨테이셔널 사회과학 센터(이하 '센터')는 다음의 목적을 위하여 <a href="/info?tab_id=1">이용자 약관</a>에 정의된 이용자들의 개인 정보를 수집합니다.
          처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.
        </p>
        <ol class="is-lower-roman">
          <li>홈페이지 회원 가입 및 관리</li>
          <li>위치 서비스 등록 관리</li>
          <li>위치 서비스 상태 확인</li>
        </ol>
      </div>

      <h4 class="subtitle is-4 has-text-black">
        2. 수집 대상 개인정보
      </h4>
      <div class="content">
        <ol class="is-lower-roman">
          <li>자원 봉사자: 이메일, 학번, 이름, 휴대전화 번호</li>
          <li>실험 참여자: 이름, 휴대전화 번호</li>
        </ol>
      </div>
      <h4 class="subtitle is-4 has-text-black">
        3. 개인정보의 처리 및 고유기관
      </h4>
      <div class="content">
        <ol class="is-lower-roman">
          <li>자원 봉사자: 서면으로 고지된 자원 봉사 기간 동안</li>
          <li>실험 참여자: 서면으로 고지된 실험 진행 기간 동안</li>
        </ol>
      </div>
      <h5 class="subtitle is-4 has-text-black">
        서비스 관리자 정보 </h5>
      <div class="content">
        <p>정근성, 한양대학교 <a href="db.hanyang.ac.kr">데이터베이스 연구실</a>, <a href="tel:02-2220-4458">02-2220-4458</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}