<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile is-child box">
      {% include "info/tabs.html" %}
    </div>
    <div class="tile is-child">
      <h1 class="title">
        연구 설명서: 장애인의 이동권 연구
      </h1>
    </div>
    <div class="tile is-child box has-text-left">
      <h4 class="subtitle is-4 has-text-black">
        1. 연구 배경
      </h4>
      <div class="content">
        <p class="is-size-6">장애인과 관련된 주요 현안 중 하나가 장애인의 이동권 문제입니다. 장애인의 이동성 제약은 고립감, 스트레스, 자존감 저하, 사회적 참여의
          감소, 전반적인
          삶의 질 저하로 이어질 수 있습니다. 그러나
          많은 장애인의 이동권은 경사로, 고르지 않은 바닥의 인도, 부족한 장애인 이동수단 등 환경적 요인에 의해 보장되지 않고 있습니다. 국내에는 2001년 장애인 리프트 추락사고를 기점으로 이후 장애인의
          이동을 하나의 권리로써 보장하라는 사회운동이 시작되었습니다. 이러한 사회운동의 결과, 장애인의 이동권 보장을 위한 ‘이동편의증진법’, ‘편의증진법’, ‘장애인 차별금지 및 권리규제 등에 관한
          법률’의
          법률이 시행되고 있으나, 장애인 이동권의 실질적인 향상을 위해서는 아직도 많은 개선의 여지가 남아있습니다. 장애인의 이동권 보장을 위한 사회정책적 논의의 활성화를 위해서 장애인에 대한 보다
          체계적이고
          객관적인 연구가 필요합니다.</p>
      </div>

      <h4 class="subtitle is-4 has-text-black">
        2. 연구목적
      </h4>
      <div class="content">
        <p>본 연구는 장애인의 위치정보 빅데이터를 활용하여 장애인 이동의 양상을 구체적으로 살펴보고, 장애인의 이동이 삶의 질에 미치는 영향을 살펴보는 것을 목적으로
          합니다.</p>
      </div>
      <h4 class="subtitle is-4 has-text-black">
        3. 연구참여 및 수행방법
      </h4>
      <div class="content">
        <p>연구의 대상자는 사회복지기관 및 장애인 단체를 통해 모집한 장애인으로 구성됩니다. 또한 비교집단으로 비장애인도 참여합니다. 연구참여자는 연구에 참여하기 앞서
          연구의 목적, 연구의 절차, 개인정보 보호방법, 수집된 데이터의 사용처에 대한 상세한 설명을 듣게 됩니다. <b>연구참여는 자발적 동의에 의한 것으로, 연구참여를 원하는 대상자는 연구참여동의서에
            서명함으로써 연구에 참여하게 됩니다.</b> 연구참여동의서에 서명한 연구참여자는 자기기입식 설문지를 작성합니다. 이 설문지는 사회인구학적 특성, 사회 참여 및 이동, 사회적 배제의 경험, 삶의
          질에 관련된
          문항들이 포함됩니다. 설문지는 총 40문항으로 약 15-20분 정도의 시간이 소요될 것으로 예상됩니다. 설문조사를 마친 후, 연구참여자는 연구자로부터 위치정보 수집을 위한 모바일 디바이스 앱을
          설치하는 방법과 사용방법에 대한 설명을 듣게 됩니다. 연구참여자의 위치정보 수집은 총 2주의 기간 동안 진행되며 언제든 동의 철회가 가능하며, 단순히 모바일 앱을 삭제하여 연구에서 탈퇴할 수
          있습니다. 2주가 지난 후에는 연구자가 연구참여자에게 정보수집이 끝났다는 문자를 보내 앱을 삭제하도록 알려드릴 예정입니다. </p>
      </div>
      <h4 class="subtitle is-4 has-text-black">
        4. 자발적 참여, 자유로운 동의 철회
      </h4>
      <div class="content">
        <p>연구대상자의 연구참여는 자발적인 동의에 의거합니다. 언제든지 동의 철회가 가능하며 철회 시 어떠한 불이익도 없습니다.</p>
      </div>
      <h4 class="subtitle is-4 has-text-black">
        5. 개인정보 수집 및 활용에 관한 사항 </h4>
      <div class="content">
        <p>본 연구는 연구참여자의 핸드폰 번호와 위치정보를 수집하게 됩니다. 핸드폰 번호는 각 참여자의 설문조사 내용과 위치정보 데이터를 연결하기 위하여 수집하는
          것입니다. 참여자의 설문조사 데이터와 위치정보 데이터를 결합하여 분석용 데이터자료를 도출한 이후에는, 익명화를 위하여 연구참여자의 핸드폰 번호를 모두 삭제할 것입니다.</p>
      </div>
      <h4 class="subtitle is-4 has-text-black">
        6. 연구 관련 자료 보관 및 폐기에 관한 사항
      </h4>
      <div class="content">
        <p>연구참여자의 개인정보(이름, 휴대전화 번호)는 위치 수집 중에만 저장되며, 위치 수집 이후 익명화 작업 이후 폐기됩니다. 개인 식별 정보가 없는
          연구참여자의 설문조사 내용과 위치정보 데이터는 한양대학교 내의 데이터베이스에 저장되며 허가된 연구자 외에는 접근할 수 없고, 데이터베이스는 교외로 절대 반출되지 않습니다.</p>
      </div>
      <h4 class="subtitle is-4 has-text-black">
        7. 이익/위험도
      </h4>
      <div class="content">
        <p>연구참여로 인해 발생하는 직접적인 이익과 위험은 없습니다. 본 연구는 장애인의 이동권 보장을 위한 사회정책적 대안의 모색에 도움이 되는 실증적 자료를 도출할
          것으로 기대됩니다. 나아가, 우리사회의 이동약자를 지원하기 위한 사회정책의 논의로 이어질 수 있어 모든 참여자들에게 간접적인 이익이 될 수 있을 것입니다.</p>
      </div>
      <h4 class="subtitle is-4 has-text-black">
        8. 연구참여에 대한 보상 </h4>
      <div class="content">
        <p>연구참여자는 참여에 대한 보상으로 현금을 수령합니다. 연구참여자는 연구자로부터 개인정보의 보호대책에 대해서 충분한 설명을 듣고 이에 대해 이해한 후
          연구참여에 동의해야 합니다. 더불어 언제든 연구에서 탈퇴할 수 있음을 알려드립니다.</p>
      </div>
      <h5 class="subtitle is-4 has-text-black">
        연구책임자 정보 </h5>
        <div class="content">
          <p>김한성, 한양대학교 사회학과 교수, <a href="tel:02-2220-0843">02-2220-0843</a></p>
        </div>
    </div>
  </div>
</div>
{% endblock %}