<div class="content has-text-left">
  <h4 class="subtitle has-text-black">연구 안내</h4>
  <ol class="is-upper-roman is-size-7">
    <li><a href="{{ url_for('main.info', tab_id=0) }}">연구 설명서</a></li>
    <li><a href="{{ url_for('main.info', tab_id=1) }}">사이트 설명 및 이용자 약관</a></li>    
    <li><a href="{{ url_for('main.info', tab_id=2) }}">개인정보처리방침</a></li>
  </ol>
</div>