div.stopItem {
  margin: 10px;  
  border-bottom: 1px dotted #000;
}

div.loading {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

div.hasAnswer {
  color: gray;
  font-style: italic;
}

div.hasAnswer div.notice {
  color: firebrick;
  font-style: italic;
}

.ReportModal {  
  overflow: auto;
  z-index: 1000;
}

.ReportThumbMap {
  width: 300px;
  height: 300px;
}

@media all and (max-width:1024px) {  
  html, body {
    height: 100%;
    margin: 0;
  }
  .DateListWrapper {    
    height: 100vh;
  }
  .DateListHeader {
    height: min-content;
  }
  .DateList {    
    overflow: auto;
    height: 80%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .ReportThumbMap {
    width: 250px;
    height: 300px;
  }
}
