td.tc-lastupdate-None {
  background-color: lightslategray;
}

td.tc-status-unknown {
  background-color: lightslategray;
}
td.tc-status-offline {
  background-color: lightslategray;
}
td.tc-status-online {
  background-color: limegreen;
}